.navbar-brand  img{
    width: 150px;
    
}
.container1{
    background-color: #F4F6F5;
    border-radius: 20px;
    min-height: 100%;
}
.hero-img{
    width: 100%;
    margin-bottom: -70px;
}
.container-mt{
    margin-top: 100px;
}

 .handm-container{
    background-color: #EBD96B;
    height: 200px;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;

 }
  .favarite-title{
    font-size: 20px;
    background-image: url('./image/Vector\ 8.png');
    background-repeat: no-repeat;
    background-size: 80px;
  
}
.about-images img{
    width: 100px;
    height: 50px;
    margin: 0 20px;
}
.bg-color{
    background-color: #E5C643;
    color: white;
}
.payday-bg-color{
    background-color: #E5C643;
}
.join-title{
    font-size: 50px;
}
.bx{
    color: rgb(117, 114, 114);
}


.swiper-wrapper{
    flex-wrap: wrap;
}



.collection{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    height: 38rem;
    /* border:  2px solid red; */
    width: 18rem;
}
.collection .content{
    height: 30rem;
    width: 18rem;
    /* border: 2rem solid rgba(240, 15, 15, 0.1); */
    border-radius: .7rem;
    overflow: hidden;
    /* padding: .2rem; */
}

.content img{
    width: 100%;
    border-bottom-left-radius: .6rem;
    border-bottom-right-radius: .6rem;
}


@media only screen and (max-width: 768px) {
    
     .hero-img{
        width: 100%;
        margin-bottom: 0px;
    }
    .about-images img{
        padding: 5px;
        
    }
    .collection .content{
        margin-top: 30px;
    }
     
}
@media only screen and (max-width: 425px){
    .container1{
        background-color: #F4F6F5;
        border-radius: 0;
        min-height: 100%;
    }
    
    
    .collection .content{
        height: 24rem;
        width: 14rem;
        margin-top: 10px;
        /* border: 2rem solid rgba(240, 15, 15, 0.1); */
        border-radius: .7rem;
        overflow: hidden;
        /* padding: .2rem; */
    }
}